<div class="modal-dialog m-0" role="document">
    <div class="modal-content">
        <form class="form" id="kt_modal_send_sms" novalidate="novalidate"
            [formGroup]="mailForm" (ngSubmit)="fnSaveAction()" autocomplete="off">

            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'WIDGET.MODAL.MAIL_SEND.TITLE' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fnCloseModal(true)">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>

            <div class="modal-body p-5">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="email_subject" name="email_subject"
                        placeholder="{{ 'WIDGET.MODAL.MAIL_SEND.FORM.SUBJECT.PLACEHOLDER' | translate }}"
                        autofocus tabindex="1" />

                    <span class="form-text text-danger" *ngIf="mailForm.controls.email_subject.dirty && mailForm.controls.email_subject.invalid">
                        {{ 'WIDGET.MODAL.MAIL_SEND.FORM.SUBJECT.VALIDATION_ERROR' | translate }}
                    </span>    
                </div>


                <div class="form-group">
                    <ckeditor [editor]="mailEditor" tagName="textarea" formControlName="email_body" 
                        tabindex="2"></ckeditor>
                        <!-- [config]="mailEditorConfig" placeholder="efgh" -->

                    <!-- <textarea class="form-control" formControlName="email_body" name="email_body"
                        rows="10" placeholder="{{ 'WIDGET.MODAL.MAIL_SEND.FORM.MESSAGE.PLACEHOLDER' | translate }}"
                        ></textarea> -->
                </div>

                <span class="form-text text-danger" *ngIf="mailForm.controls.email_body.dirty && mailForm.controls.email_body.invalid">
                    {{ 'WIDGET.MODAL.MAIL_SEND.FORM.MESSAGE.VALIDATION_ERROR' | translate }}
                </span>

                <div>
                    {{ objServiceRequest|json }}
                </div>
            </div>

            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-link font-weight-bold" data-dismiss="modal" tabindex="4"
                    (click)="fnCloseModal()">{{ 'COMMON.LABEL.CLOSE' | translate }}</button>
                <button type="submit" class="btn btn-primary font-weight-bold ml-2" tabindex="3">{{ 'COMMON.LABEL.SAVE' | translate }}</button>
            </div>
        </form>
    </div>
</div>