<div *ngIf="!boolLoadingPage">
    <h3 class="mb-10 font-weight-bold text-dark">{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.TITLE' | translate }}</h3>
    <div class="row" [formGroup]="contactProfileForm">
        <div class="col-2 offset-1 d-none d-xl-block">
            <div class="form-group">
                <label class="col-6">{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.AVATAR.LABEL' | translate }}</label>
                <div class="col-6">
                    <div class="image-input image-input-outline" id="kt_contact_add_avatar">
                        <div class="image-input-wrapper"
                            [style.background-image]="'url('+imgContactAvatar+')'"></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" 
                                (change)="fnFileUploadChangeEvent($event)"/>
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-8">
            <div class="form-group row mb-10">
                <div class="col-6 col-md-4">
                    <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.LABEL' | translate }}<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="first_name" formControlName="first_name" 
                        placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.PLACEHOLDER' | translate }}"
                        autocomplete="none" tabindex="1" autofocus />

                    <span class="form-text text-muted">
                        {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.FINE_TEXT' | translate }}
                    </span>

                    <span class="form-text text-danger" *ngIf="contactProfileForm.controls.first_name.dirty && contactProfileForm.controls.first_name.invalid">
                        {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.VALIDATION_ERROR' | translate }}
                    </span>
                </div>

                <div class="col-4 d-none d-md-block">
                    <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.LABEL' | translate }}</label>
                    <input type="text" class="form-control" name="middle_name" formControlName="middle_name" 
                        placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.PLACEHOLDER' | translate }}"
                        autocomplete="none" tabindex="2" />

                        <span class="form-text text-muted">
                            {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.FINE_TEXT' | translate }}
                        </span>

                        <span class="form-text text-danger" *ngIf="contactProfileForm.controls.middle_name.dirty && contactProfileForm.controls.middle_name.invalid">
                            {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.VALIDATION_ERROR' | translate }}
                        </span>
                </div>

                <div class="col-6 col-md-4">
                    <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.LABEL' | translate }}<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="last_name" formControlName="last_name"
                        placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.PLACEHOLDER' | translate }}"
                        autocomplete="none" tabindex="3" />

                        <span class="form-text text-muted">
                            {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.FINE_TEXT' | translate }}
                        </span>
    
                        <span class="form-text text-danger" *ngIf="contactProfileForm.controls.last_name.dirty && contactProfileForm.controls.last_name.invalid">
                            {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.VALIDATION_ERROR' | translate }}
                        </span>
                </div>
            </div>

            <div class="form-group row mb-10 d-none d-md-flex">
                <div class="col-6">
                    <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.GENDER.LABEL' | translate }}</label>
                    <div class="input-group">
                        <ng-select class="form-control" #selectGender formControlName="gender_key"
                            placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.GENDER.PLACEHOLDER' | translate }}"
                            [items]="listLookupGender" bindLabel="display_value" bindValue="key"
                            [searchable]="false" autocomplete="off" tabindex="3">
                        </ng-select>
                    </div>
                </div>

                <div class="col-6">
                    <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.DATE_OF_BIRTH.LABEL' | translate }}</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" ngbDatepicker #dobAt="ngbDatepicker"
                            formControlName="dob_date_picker" (dateSelect)="fnDateTimeControlUpdated($event)"
                            placeholder="Select date" readonly />
                        <div class="input-group-append" (click)="dobAt.toggle()">
                            <span class="input-group-text"><i class="flaticon-event-calendar-symbol"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>            

            <div class="form-group row">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex">
                        <label class="flex-fill">{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.CONTACT_EMAIL.LABEL' | translate }}<span class="text-danger">*</span></label>

                        <div class="d-block">
                            <button type="button" class="btn btn-link p-0" 
                                (click)="fnAddContactDetailControl('contact_detail_type_email')">
                                {{ 'COMMON.LABEL.ADD_MORE' | translate }}
                            </button>                            
                        </div> 
                    </div>
                    
                    <div class="d-block" formArrayName="details" *ngIf="contactDetailsFormArray?.controls">
                        <div *ngFor="let detail of contactDetailsFormArray?.controls; let indexElem=index;">
                            <div *ngIf="detail.value?.type_key=='contact_detail_type_email'" [formGroupName]="indexElem">
                                <div class="d-flex mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="la la-at"></i></span>
                                        </div>

                                        <input type="email" class="form-control" formControlName="identifier"
                                            placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.CONTACT_EMAIL.PLACEHOLDER' | translate }}" 
                                            autocomplete="none" />

                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <label class="checkbox checkbox-inline checkbox-primary">
                                                    <input type="radio" formControlName="is_primary" [value]="true" 
                                                        (change)="fnChangeEvent($event, 'contact_detail_type_email', indexElem)" />
                                                    <span></span>
                                                </label>
                                            </span>

                                            <button class="input-group-text" (click)="fnRemoveContactDetailControl(indexElem)" [disabled]="detail.value?.is_primary">
                                                <i class="flaticon-circle" [ngClass]="{false:'text-danger text-hover-danger', true:'text-dark-25'}[detail.value?.is_primary]"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <span class="form-text text-danger" *ngIf="detail.invalid && detail.dirty">
                                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.CONTACT_EMAIL.VALIDATION_ERROR' | translate }}
                                </span>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="d-flex">
                        <label class="flex-fill">{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.CONTACT_PHONE.LABEL' | translate }}<span class="text-danger">*</span></label>

                        <div class="d-block">
                            <button type="button" class="btn btn-link p-0" 
                                (click)="fnAddContactDetailControl('contact_detail_type_phone')">
                                {{ 'COMMON.LABEL.ADD_MORE' | translate }}
                            </button>                            
                        </div> 
                    </div>

                    <div class="d-block" formArrayName="details" *ngIf="contactDetailsFormArray?.controls">
                        <div *ngFor="let detail of contactDetailsFormArray?.controls; let indexElem=index;">
                            <div *ngIf="detail.value?.type_key=='contact_detail_type_phone'" [formGroupName]="indexElem">
                                <div class="d-flex mb-2">
                                    <div class="d-flex flex-fill contact-phone">
                                        <intl-tel-input [cssClass]="'form-control pl-5'" formControlName="phone_form_control"
                                            [searchCountryFlag]="true" [enablePlaceholder]="true" [separateDialCode]="false"
                                            [phoneValidation]="true" [selectedCountryISO]="'in'" class="flex-fill"></intl-tel-input>
                                            
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <label class="checkbox checkbox-inline checkbox-primary">
                                                    <input type="radio" formControlName="is_primary" [value]="true" 
                                                        (change)="fnChangeEvent($event, 'contact_detail_type_phone', indexElem)" />
                                                    <span></span>
                                                </label>
                                            </span>

                                            <button class="input-group-text" (click)="fnRemoveContactDetailControl(indexElem)" [disabled]="detail.value?.is_primary">
                                                <i class="flaticon-circle" [ngClass]="{false:'text-danger text-hover-danger', true:'text-dark-25'}[detail.value?.is_primary]"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <span class="form-text text-danger" *ngIf="detail.invalid && detail.dirty">
                                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.CONTACT_PHONE.VALIDATION_ERROR' | translate }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>