<div class="form p-5" [formGroup]="contactProfileForm">

    <div class="form-group row mb-10">
        <div class="col-6 col-md-4">
            <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.LABEL' | translate }}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="first_name" formControlName="first_name" 
                placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.PLACEHOLDER' | translate }}"
                autocomplete="none" tabindex="1" autofocus />

            <span class="form-text text-muted">
                {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.FINE_TEXT' | translate }}
            </span>

            <span class="form-text text-danger" *ngIf="contactProfileForm.controls.first_name.dirty && contactProfileForm.controls.first_name.invalid">
                {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.FIRST_NAME.VALIDATION_ERROR' | translate }}
            </span>
        </div>

        <div class="col-4 d-none d-md-block">
            <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.LABEL' | translate }}</label>
            <input type="text" class="form-control" name="middle_name" formControlName="middle_name" 
                placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.PLACEHOLDER' | translate }}"
                autocomplete="none" tabindex="2" />

                <span class="form-text text-muted">
                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.FINE_TEXT' | translate }}
                </span>

                <span class="form-text text-danger" *ngIf="contactProfileForm.controls.middle_name.dirty && contactProfileForm.controls.middle_name.invalid">
                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.MIDDLE_NAME.VALIDATION_ERROR' | translate }}
                </span>
        </div>

        <div class="col-6 col-md-4">
            <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.LABEL' | translate }}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="last_name" formControlName="last_name"
                placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.PLACEHOLDER' | translate }}"
                autocomplete="none" tabindex="3" />

                <span class="form-text text-muted">
                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.FINE_TEXT' | translate }}
                </span>

                <span class="form-text text-danger" *ngIf="contactProfileForm.controls.last_name.dirty && contactProfileForm.controls.last_name.invalid">
                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.LAST_NAME.VALIDATION_ERROR' | translate }}
                </span>
        </div>
    </div>

    <div class="form-group row mb-10 d-none d-md-flex">
        <div class="col-6">
            <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.GENDER.LABEL' | translate }}</label>
            <div class="input-group">
                <ng-select class="form-control" #selectGender formControlName="gender_key"
                    placeholder="{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.GENDER.PLACEHOLDER' | translate }}"
                    [items]="listLookupGender" bindLabel="display_value" bindValue="key"
                    [searchable]="false" autocomplete="off" tabindex="3">
                </ng-select>
            </div>
        </div>

        <div class="col-6">
            <label>{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DETAILS.DATE_OF_BIRTH.LABEL' | translate }}</label>
            <div class="input-group date">
                <input type="text" class="form-control" ngbDatepicker #dobAt="ngbDatepicker"
                    formControlName="dob_date_picker" (dateSelect)="fnDateTimeControlUpdated($event)"
                    placeholder="Select date" readonly />
                <div class="input-group-append" (click)="dobAt.toggle()">
                    <span class="input-group-text"><i class="flaticon-event-calendar-symbol"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
