<div class="d-block full-content-page-height">
    <crmo-backend-widget-subheader 
        [title]="'PAGE.TASK_LIST.TITLE'" [filter]="true" [search]="true"
        ></crmo-backend-widget-subheader>

    <app-layout-spinner [ngClass]="{'d-none': (!isLoading)}"></app-layout-spinner>

    <!--begin::Card-->
    <div class="card card-custom gutter-b card-screen-height">
        <div class="card-body">
            <div class="table-responsive" *ngIf="listTask?.length>0">
                <table class="table table-hover table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                    <thead class="thead-dark">
                        <tr class="text-uppercase">
                            <th scope="col" class="pl-5" style="min-width: 95px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_TYPE' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 130px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_CONTACT' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 150px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_TITLE' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell" style="min-width: 75px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_PRIORITY' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 130px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_OWNER' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell" style="min-width: 90px">{{ 'PAGE.TASK_LIST.COLUMNS.TASK_STATUS' | translate }}</th>

                            <th scope="col" class="d-none d-xl-table-cell table-cell-date table-cell-sortable">
                                {{ 'PAGE.TASK_LIST.COLUMNS.DUE_DATE' | translate }}
                                <span class="ml-2 cursor-pointer">
                                    <i class="la la-sort text-white icon-lg" (click)="fnSortColumn('last_date', 'asc')"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'desc')" [ngClass]="{'d-none': true}"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'asc')" [ngClass]="{'d-none': true}"></i>
                                </span>
                            </th>
                            <th scope="col" class="d-none d-xl-table-cell table-cell-date table-cell-sortable">
                                {{ 'PAGE.TASK_LIST.COLUMNS.COMPLETED_DATE' | translate }}
                                <span class="ml-2 cursor-pointer">
                                    <i class="la la-sort text-white icon-lg" (click)="fnSortColumn('last_date', 'asc')"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'desc')" [ngClass]="{'d-none': true}"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'asc')" [ngClass]="{'d-none': true}"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let task of listTask" class="cursor-pointer" style="outline: none;"
                            [routerLink]="['/secure/setting/organization', task.id]">
                            <td>
                                    <button class="btn btn-icon btn-clean" *ngIf="task.subtype?.key=='service_request_activity_type_task_subtype_call'"
                                        placement="bottom" 
                                        [ngbTooltip]="'COMMON.LABEL.CALL' | translate"><i class="la la-phone icon-xl"></i></button>

                                    <button class="btn btn-icon btn-clean" *ngIf="task.subtype?.key=='service_request_activity_type_task_subtype_sms'"
                                        placement="bottom" 
                                        [ngbTooltip]="'COMMON.LABEL.SMS' | translate"><i class="la la-sms icon-xl"></i></button>

                                    <button class="btn btn-icon btn-clean" *ngIf="task.subtype?.key=='service_request_activity_type_task_subtype_email'"
                                        placement="bottom" 
                                        [ngbTooltip]="'COMMON.LABEL.EMAIL' | translate"><i class="la la-envelope icon-xl"></i></button>
                                
                                    <span class="text-dark-75 font-weight-bolder ml-2">{{ task.subtype?.display_value }}</span>
                            </td>

                            <td>
                                <span class="text-dark-50">{{ task.assignee?.full_name }}</span>
                            </td>

                            <td class="d-none d-xl-table-cell">
                                <span class="text-dark-50">{{ task.subject }}</span>
                            </td>

                            <td>
                                <span class="label font-weight-bold label-lg label-inline label-inlinetext-dark-50"
                                    [ngClass]="{'priority_high':'label-light-danger', 'priority_low':'label-light-info'}[task.priority?.key]">
                                    {{ task.priority?.display_value }}
                                </span>
                            </td>

                            <td>
                                <span class="text-dark-50">{{ task.is_completed }}</span>
                            </td>                            

                            <td class="d-none d-md-table-cell">
                                <span class="text-dark-50">Not Started</span>
                            </td>                            

                            <td class="d-none d-xl-table-cell table-cell-date">
                                <span class="text-dark-75 d-block ml-2">{{ task.scheduled_at | date }}</span>
                                <span class="text-muted d-block ml-2">{{ task.scheduled_at | date:'shortTime' }}</span>
                            </td>

                            <td class="d-none d-xl-table-cell table-cell-date" *ngIf="task.is_completed">
                                <span class="text-dark-75 d-block ml-2">{{ task.last_updated_at | date }}</span>
                                <span class="text-muted d-block ml-2">{{ task.last_updated_at | date:'shortTime' }}</span>
                            </td>

                            <td class="d-none d-xl-table-cell table-cell-date" *ngIf="!task.is_completed">
                                <span class="text-dark-75 d-block ml-2">MARK COMPLETE</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>