<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="d-flex flex-grow-1 flex-wrap flex-sm-nowrap">
        <!--begin::Details-->
        <div class="d-flex align-items-center flex-wrap flex-grow-1">
            <!--begin::Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">{{ strTitle | translate }}</h5>
            <!--end::Title-->

            <!--begin::Separator-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
            <!--end::Separator-->

            <!--begin::Page Information Test or Search Form-->
            <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total" *ngIf="strPageInformation!=null">
                    {{ strPageInformation }}
                </span>
            </div>
            <!--end::Page Information Test or Search Form-->
        </div>
        <!--end::Details-->

        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin:Page Search-->
            <div class="ml-2" *ngIf="boolShowSearchControl">
                <div class="input-icon input-icon-right">
                    <input type="text" class="form-control search-control" 
                        placeholder="{{ 'COMMON.LABEL.SEARCH_AND_ELLIPSIS' | translate }}"
                        autocomplete="off"
                        (keyup)="fnSearch($event)" />
                    <span><i class="flaticon2-search-1 icon-md"></i></span>
                </div>  
            </div>
            <!--begin:Page Search-->

            <!--begin:Full Search-->
            <div class="ml-2" *ngIf="boolShowFullSearchControl">
                <div class="input-icon input-icon-right">
                    <input type="text" class="form-control search-control" placeholder="{{ 'COMMON.LABEL.SEARCH_AND_ELLIPSIS' | translate }}"/>
                    <span><i class="flaticon2-search-1 icon-md"></i></span>
                </div>  
            </div>
            <!--begin:Full Search-->

            <!--begin::Button-->
            <div class="btn-group ml-2" *ngIf="boolShowFilterButton">
                <a href="#" class="btn btn-primary font-weight-bolder font-size-sm">
                    <span class="navi-icon"><i class="la la-filter icon-md p-0"></i></span>
                </a>
            </div>
            <!--end::Button-->         

            <!--begin::Button-->
            <div class="btn-group ml-2" *ngIf="strRouterLinkAddBtn!=null">
                <a href="#" class="btn btn-primary font-weight-bolder font-size-sm"
                    [routerLink]="strRouterLinkAddBtn">{{ 'COMMON.LABEL.ADD_NEW' | translate }}</a>
            </div>
            <!--end::Button-->

            <!--begin::Button-->
            <button type="button" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base"
                (click)="fnBackClick()" *ngIf="boolShowBackButton">{{ 'COMMON.LABEL.BACK' | translate }}</button>
            <!--end::Button-->

            <!--begin::Dropdown-->
            <div class="btn-group ml-2" *ngIf="boolShowSaveButton || boolShowSaveButtonGroup">
                <button type="submit" id="save_and_continue"
                    class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base"
                    [ngClass]="{'spinner spinner-white spinner-right pr-15': boolShowLoading}">
                    {{ 'COMMON.LABEL.SAVE_N_CONTINUE' | translate }}
                </button>
                    
                <button type="button" *ngIf="boolShowSaveButtonGroup"
                    class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base dropdown-toggle dropdown-toggle-split" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon2-down icon-xs"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right" *ngIf="boolShowSaveButtonGroup">
                    <ul class="navi py-5">
                        <li class="navi-item">
                            <button type="submit" id="save_and_new" class="btn btn-bg-white d-block navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-medical-records"></i>
                                </span>
                                <span class="navi-text pl-2">{{ 'COMMON.LABEL.SAVE_N_ADDNEW' | translate }}</span>
                            </button>
                        </li>
                        <li class="navi-item">
                            <button type="submit" id="save_and_exit" class="btn btn-bg-white d-block navi-link">
                                <span class="navi-icon">
                                    <i class="flaticon2-download-2"></i>
                                </span>
                                <span class="navi-text pl-2">{{ 'COMMON.LABEL.SAVE_N_EXIT' | translate }}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end::Dropdown-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>
