<div class="container">
    <div class="d-flex flex-lg-row-reverse mb-2">
        <button type="button" class="btn btn-light-primary font-weight-bold" (click)="fnAddEditNote();">Add Note</button>
    </div>

    <!--begin::Note List-->
    <div class="timeline timeline-justified timeline-4" *ngIf="objContact?.notes?.length>0">
        <div class="timeline-bar"></div>
        <div class="timeline-items">
            <div class="timeline-item" *ngFor="let objNote of objContact?.notes;">
                <div class="timeline-badge">
                    <div class="bg-primary"></div>
                </div>

                <div class="timeline-label text-primary p-0 mb-0">
                    <span class="font-size-sm">{{ objNote?.last_updated_at | date:'medium' }}</span>
                    <span class="text-muted pl-2 pr-2">by</span>
                    <span class="text-dark-50 font-size-sm">{{ objNote?.owner?.full_name }}</span>
                </div>

                <div class="timeline-content">
                    <div class="d-flex mb-3">
                        <div class="flex-fill mr-2">
                            <p class="p-0 text-justify">{{ objNote.note }}</p>
                        </div>

                        <div class="flex-column-auto ml-2">
                            <button type="button" class="btn btn-icon btn-icon-dark-50 btn-hover-icon-primary border-0 font-weight-bold btn-sm"
                                placement="top" ngbTooltip="Edit" (click)="fnAddEditNote(objNote);">
                                <i class="flaticon-edit icon-md"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-icon-dark-50 btn-hover-icon-danger border-0 font-weight-bold btn-sm" 
                                placement="top" ngbTooltip="Delete">
                                <i class="flaticon-delete icon-md"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Note List-->
</div>