<form class="form" id="kt_organization_detail_form" novalidate="novalidate"
    [formGroup]="organizationForm" (ngSubmit)="fnSaveAction($event)" autocomplete="off">
    
    <div class="d-block full-content-page-height">
        <crmo-backend-widget-subheader 
            [title]="'PAGE.ORGANIZATION.DETAIL.TITLE.ADD'" 
            [page-info]="organizationForm.controls['name'].value"
            [save-group]="true" [back]="true" [loading]="boolSaving"
            (back)="fnResetForm(true)"></crmo-backend-widget-subheader>

        <!--begin::Card-->
        <div class="card card-custom mb-5" id="kt_page_sticky_card">
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-bold nav-tabs-line nav-boldest">
                        <li class="nav-item">
                            <a href="#kt_tab_organization_detail" class="nav-link active" 
                                data-toggle="tab" data-target="#kt_tab_organization_detail">
                                {{ 'PAGE.ORGANIZATION.DETAIL.TAB_DETAIL.TITLE' | translate }}
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="oHash!='new'">
                            <a href="#kt_tab_organization_configuration" class="nav-link" 
                                data-toggle="tab" data-target="#kt_tab_organization_configuration">
                                {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TITLE' | translate }}
                            </a>
                        </li>
                        
                        <li class="nav-item" *ngIf="oHash!='new'">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Link</a>
                        </li>
                        
                        <li class="nav-item dropdown" *ngIf="oHash!='new'">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        </li>

                        <li class="nav-item" *ngIf="oHash!='new'">
                            <a class="nav-link disabled" data-toggle="tab" href="#kt_tab_pane_4" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-body tab-contents mt-5" id="tabOrganization">
                <!-- Organization Data -->
                <div class="tab-pane fade show active" id="kt_tab_organization_detail" role="tabpanel" aria-labelledby="kt_tab_organization_detail">
                    <crmo-backend-organization-data [form]="organizationForm" [organization]="objOrganization" 
                        [refresh]="boolRefresh" [new]="boolIsNew"></crmo-backend-organization-data>              
                </div>

                <!-- Organization Configuration List -->
                <div class="tab-pane fade" id="kt_tab_organization_configuration" role="tabpanel" aria-labelledby="kt_tab_organization_configuration">
                    <crmo-backend-organization-configuration-list
                        [organization]="objOrganization"
                        [configurations]="objOrganization?.configurations"
                        (refresh)="fnRefreshOrganizationData(objOrganization.hash)"></crmo-backend-organization-configuration-list>
                </div>

                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
            </div>
        </div>
        <!--end::Card-->
    </div>
</form>
