<div class="d-block full-content-page-height">
	<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
		<div class="d-flex flex-grow-1 flex-wrap flex-sm-nowrap">
			<!--begin::Details-->
			<div class="d-flex align-items-center flex-wrap flex-grow-1">
				<!--begin::Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    {{ 'PAGE.ORGANIZATION.LIST.TITLE' | translate }}
				</h5>
				<!--end::Title-->

				<!--begin::Separator-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
				<!--end::Separator-->

				<!--begin::Search Form-->
				<div class="d-flex align-items-center" id="kt_subheader_search">
					<span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
					</span>
				</div>
				<!--end::Search Form-->
			</div>
			<!--end::Details-->

			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<!--begin::Button-->
				<div class="btn-group ml-2">
                    <a href="#" class="btn btn-primary font-weight-bolder font-size-sm"
                        [routerLink]="['/secure/setting/organization/', 'new']">{{ 'COMMON.LABEL.ADD_NEW' | translate }}</a>
				</div>
				<!--end::Button-->
			</div>
			<!--end::Toolbar-->
		</div>
	</div>

    <!--begin::Card-->
    <div class="card card-custom gutter-b">
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
            </h3>
            <div class="card-toolbar">
                <div class="mr-2">
                    <div class="input-icon input-icon-right">
                        <input type="text" class="form-control search-control" placeholder="Search..."/>
                        <span><i class="flaticon2-search-1 icon-md"></i></span>
                    </div>  
                </div>

                <a href="#" class="btn btn-primary font-weight-bolder font-size-sm mr-2">
                    <span class="navi-icon"><i class="la la-filter icon-md"></i></span>
                </a>
            </div>
        </div>

        <div class="card-body py-0">
            <div class="table-responsive">
                <table class="table table-hover table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                    <thead>
                        <tr class="text-uppercase">
                            <th class="pl-0">name</th>
                            <th style="min-width: 120px"></th>
                            <th style="min-width: 150px">sub domain</th>
                            <th style="min-width: 130px">plan</th>
                            <th style="min-width: 130px">status</th>
                            <th style="min-width: 130px">users</th>
                            <th style="min-width: 150px">
                                <span class="text-primary">Last &amp; modified</span>
                                <span class="svg-icon svg-icon-sm svg-icon-primary">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Down-2.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3" x="11" y="4" width="2" height="10" rx="1" />
                                            <path d="M6.70710678,19.7071068 C6.31658249,20.0976311 5.68341751,20.0976311 5.29289322,19.7071068 C4.90236893,19.3165825 4.90236893,18.6834175 5.29289322,18.2928932 L11.2928932,12.2928932 C11.6714722,11.9143143 12.2810586,11.9010687 12.6757246,12.2628459 L18.6757246,17.7628459 C19.0828436,18.1360383 19.1103465,18.7686056 18.7371541,19.1757246 C18.3639617,19.5828436 17.7313944,19.6103465 17.3242754,19.2371541 L12.0300757,14.3841378 L6.70710678,19.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 15.999999) scale(1, -1) translate(-12.000003, -15.999999)" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let organization of objOrganization" class="cursor-pointer" style="outline: none;"
                            (click)="fnSelectOrganization(organization)">
                            <td class="">
                                <div class="symbol symbol-50 symbol-light mt-1">
                                    <span class="symbol-label" *ngIf="organization.logo">
                                        <img [src]="'assets/media/svg/avatars/001-boy.svg'" class="h-75 align-self-end" alt="" />
                                    </span>

                                    <span class="symbol-label font-size-h4 font-weight-bold" *ngIf="!organization.logo">{{ organization.name|shorten:1 }}</span>
                                </div>
                            </td>
                            <td>
                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{ organization.name }}</span>
                                <span class="text-muted">{{ organization.hash }}</span>
                            </td>
                            <td>
                                <span class="text-dark-75 d-block font-size-lg">{{ organization.subdomain }}</span>
                            </td>
                            <td>
                                <span class="label label-lg label-light-primary label-inline">Free</span>
                            </td>
                            <td>
                                <span class="label label-lg label-light-primary label-inline">Active</span>
                            </td>
                            <td>
                                <span class="label label-lg label-inline">{{ organization.users_count }}</span>
                            </td>
                            <td>
                                <span class="text-dark-75 d-block">{{ organization.last_updated_at | date }}</span>
                                <span class="text-muted">{{ organization.last_updated_at | date:'shortTime' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>
