<div class="modal-dialog m-0" role="document">
    <div class="modal-content">
        <form class="form" id="kt_form_1" novalidate="novalidate"
            [formGroup]="noteForm" (ngSubmit)="fnSaveAction()" autocomplete="off">

            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'WIDGET.MODAL.NOTE.TITLE' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fnCloseModal(true)">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>

            <div class="modal-body p-5">
                <div class="form-group">
                    <textarea class="form-control border-0" rows="8" formControlName="note"
                        id="kt_forms_widget_1_input"
                        placeholder="{{ 'WIDGET.MODAL.NOTE.FORM.TEXT.PLACEHOLDER' | translate }}"
                        autocomplete="off" tabindex="1" autofocus></textarea>

                    <span *ngIf="noteForm.controls.note.invalid && (noteForm.controls.note.dirty || noteForm.controls.note.touched)">
                        {{ noteForm.controls.note.errors | json }}
                    </span>
                </div>                        
            </div>

            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-link font-weight-bold" data-dismiss="modal" tabindex="3" 
                    (click)="fnCloseModal()">{{ 'COMMON.LABEL.CLOSE' | translate }}</button>

                <button type="submit" class="btn btn-primary font-weight-bold ml-2" [disabled]="boolLoading" tabindex="2">
                    {{ 'COMMON.LABEL.SAVE' | translate }}
                    <span class="spinner-grow spinner-grow-sm ml-2" role="status" aria-hidden="true" *ngIf="boolLoading"></span>
                </button>
            </div>
        </form>
    </div>
</div>
                