<div class="d-block full-content-page-height">
    <crm-backend-widget-subheader 
        [title]="'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.TITLE'"
        ></crm-backend-widget-subheader>

        <app-layout-spinner [ngClass]="{'d-none': (!isLoading)}"></app-layout-spinner>

    <!--begin::Card-->
    <div class="card card-custom gutter-b card-screen-height">
        <div class="card-body">
            <div class="table-responsive" *ngIf="listOpportunity?.length>0">
                <table class="table table-hover table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                    <thead class="thead-dark">
                        <tr class="text-uppercase">
                            <th scope="col" class="pl-5" colspan="2" style="width:100%;">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.CONTACT_FULL_NAME' | translate }}</th>
                            <th scope="col" style="min-width: 150px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.ACTION_CONTROLS' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 150px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.TYPE' | translate }}</th>
                            <th scope="col" style="min-width: 130px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.STAGE' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 130px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.STATUS' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell" style="min-width: 150px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.ACCOUNT_NAME' | translate }}</th>
                            <th scope="col" style="min-width: 130px">{{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.OWNER' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell table-cell-date table-cell-sortable">
                                {{ 'PAGE.OPPORTUNITY.OPPORTUNITY_LIST.COLUMNS.LAST_MODIFIED' | translate }}
                                <span class="d-inline-flex cursor-pointer">
                                    <i class="la la-sort text-white icon-lg" (click)="fnSortColumn('last_date', 'asc')"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'desc')" [ngClass]="{'d-none': true}"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'asc')" [ngClass]="{'d-none': true}"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let opportunity of listOpportunity" class="cursor-pointer" style="outline: none;"
                            [routerLink]="['/secure/opportunity', opportunity.hash]">
                            <td class="pr-3">
                                <div class="symbol symbol-40 symbol-light">
                                    <span class="symbol-label" *ngIf="opportunity.contact?.avatar">
                                        <img [src]="opportunity.contact?.avatar" class="h-75 align-self-end rounded-circle" alt="Avatar" />
                                    </span>

                                    <span class="symbol-label font-size-h6 font-weight-bold rounded-circle" *ngIf="!opportunity.contact?.avatar">{{ opportunity.contact?.name_initials }}</span>
                                </div>
                            </td>

                            <td class="w-100">
                                <span class="text-dark-75 font-weight-bolder d-block" 
                                    placement="bottom" [ngbTooltip]="opportunity.contact?.full_name">
                                    {{ opportunity.contact?.full_name | shorten:25 }}
                                </span>
                            </td>

                            <td>
                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.CALL' | translate"
                                    (click)="fnOpenModal($event, 'show_call_modal', opportunity)"><i class="la la-phone icon-xl"></i></button>

                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.SMS' | translate" 
                                    (click)="fnOpenModal($event, 'show_sms_modal', opportunity)"><i class="la la-sms icon-xl"></i></button>

                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.EMAIL' | translate" 
                                    (click)="fnOpenModal($event, 'show_mail_modal', opportunity)"><i class="la la-envelope icon-xl"></i></button>
                            </td>

                            <td class="d-none d-xl-table-cell">
                                <span class="text-dark-50">{{ opportunity.type?.display_value }}</span>
                            </td>

                            <td>
                                <span class="text-dark-50">{{ opportunity.stage?.display_value }}</span>
                            </td>

                            <td class="d-none d-xl-table-cell">
                                <span class="text-dark-50">{{ opportunity.status?.display_value }}</span>
                            </td>

                            <td class="d-none d-md-table-cell">
                                <span class="text-dark-50" placement="bottom" [ngbTooltip]="opportunity.account?.name">
                                    {{ opportunity.account?.name | shorten:20:'...' }}
                                </span>
                            </td>

                            <td>
                                <span class="text-dark-50" placement="bottom" [ngbTooltip]="opportunity.owner?.full_name">
                                    {{ opportunity.owner?.full_name | shorten:20:'...' }}
                                </span>
                            </td>

                            <td class="d-none d-xl-table-cell table-cell-date">
                                <span class="text-dark-75 d-block ml-5">{{ opportunity.last_updated_at | date }}</span>
                                <span class="text-muted d-block ml-5">{{ opportunity.last_updated_at | date:'shortTime' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>
