<div class="card card-custom gutter-b" *ngIf="!boolShowConfigDetail">
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">
                {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TITLE' | translate }}
            </span>
        </h3>

        <div class="card-toolbar">
            <a href="#" class="btn btn-primary font-weight-bolder font-size-sm"
            [routerLink]="['/secure/setting/organization/', '0']">{{ 'COMMON.LABEL.ADD_NEW' | translate }}</a>
        </div>
    </div>

    <div class="card-body py-0">
        <div class="table-responsive">
            <table class="table table-hover table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                <thead>
                    <tr class="text-uppercase">
                        <th class="pl-0" style="max-width: 150px;">
                            {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TABLE_NAMES.KEY_TITLE' | translate }}
                        </th>
                        <th style="max-width: 150px;">
                            {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TABLE_NAMES.TYPE_TITLE' | translate }}
                        </th>
                        <th style="max-width: 100px;">
                            {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TABLE_NAMES.VALUE_TITLE' | translate }}
                        </th>
                        
                        <th class="pr-0 text-right" style="min-width: 50px">
                            {{ 'PAGE.ORGANIZATION.DETAIL.TAB_CONFIGURATION.TABLE_NAMES.ACTION_TITLE' | translate }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let configuration of objConfigurations" class="cursor-pointer" style="outline: none;"
                        (click)="fnEditData(configuration)">
                        <td title="{{ configuration?.display_value }}">
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                {{ configuration?.display_value | shorten:50 }}
                            </span>
                            <span class="text-muted">{{ configuration?.key | shorten:50 }}</span>
                        </td>

                        <td>
                            <span class="label label-lg label-light-primary label-inline">
                                {{ configuration?.type?.display_value }}
                            </span>
                        </td>

                        <td>
                            <span class="text-dark-75 text-wrap">
                                {{ configuration?.pivot?.value | shorten:50 }}
                            </span>
                        </td>

                        <td class="text-right">
                            <button class="btn btn-icon btn-sm btn-hover-danger" 
                                (click)="fnDeleteRecord(configuration)">
                                <span class="svg-icon svg-icon-md svg-icon-primary">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<crmo-backend-organization-configuration-data *ngIf="boolShowConfigDetail"
    [configuration]="objSelectedConfiguration" 
    (cancelled)="boolShowConfigDetail=false;"
    (saved)="fnRefreshData()"></crmo-backend-organization-configuration-data>
