<div class="login-form login-forgot">
    <!--begin::Form-->
    <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
        id="kt_login_forgot_form" [formGroup]="forgotPasswordForm" (ngSubmit)="fnOnSubmitAction($event)" >
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
          <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">{{ 'PAGE.AUTH.FORGOT_PASSWORD.TITLE' | translate }}</h3>
          <p class="text-muted font-weight-bold font-size-h4">{{ 'PAGE.AUTH.FORGOT_PASSWORD.SUB_TITLE' | translate }}</p>
        </div>
        <!--end::Title-->
  
        <!--begin::Form group-->
        <div class="form-group fv-plugins-icon-container has-danger">
            <input type="email" name="email" formControlName="email"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                autocomplete="off" tabindex="1" autofocus
                placeholder="{{ 'PAGE.AUTH.FORGOT_PASSWORD.EMAIL.PLACEHOLDER' | translate }}"
                [ngClass]="{'is-invalid': (forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty)}"          
            />

            <div class="fv-plugins-message-container text-danger" *ngIf="(forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty)">
                <div class="fv-help-block">
                    {{ 'PAGE.AUTH.FORGOT_PASSWORD.EMAIL.VALIDATION_ERROR' | translate }}
                </div>
            </div>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0">
            <button type="submit" id="kt_login_forgot_submit"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
                {{ 'PAGE.AUTH.FORGOT_PASSWORD.SUBMIT_BTN.LABEL' | translate }}
            </button>
        
            <a id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                [routerLink]="['/user/login']" >{{ 'COMMON.LABEL.CANCEL' | translate }}</a>
        </div>
        <!--end::Form group-->
        <div></div>
    </form>
    <!--end::Form-->
</div>
  