<div class="flex-row p-5">
    <div class="d-flex flex-lg-row-reverse mb-2" *ngIf="(this.objContact) && (this.objContact?.id>0) && (objContact?.documents?.length>0)">
        <button type="button" class="btn btn-icon icon-2x text-dark-50 font-weight-bold text-hover-primary" 
            (click)="fnUploadDocument();" placement="top" [ngbTooltip]="'COMMON.LABEL.UPLOAD_DOCUMENT'|translate">
            <i class="fas fa-upload"></i>
        </button>
    </div>

    <!--begin::Documents-->
    <div class="timeline timeline-3" *ngIf="objContact?.documents?.length>0">
        <div class="timeline-items">
            <div class="timeline-item" *ngFor="let objDocument of objContact?.documents;">
                <div class="timeline-label text-primary">
                    <span class="font-size-sm">{{ objDocument?.last_updated_at | date:'medium' }}</span>
                    <span class="text-muted pl-2 pr-2">by</span>
                    <span class="text-dark-50 font-size-sm">{{ objDocument?.owner?.full_name }}</span>
                </div>

                <div class="timeline-media mt-5">
                    <i class="text-dark-50 icon-lg far fa-file" 
                        [ngClass]="{'xlsx': 'far fa-file-excel', 'docx': 'far fa-file-word', 'pdf': 'far fa-file-pdf'}[objDocument?.file_extn]"></i>
                </div>

                <div class="timeline-content">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="mr-2">
                            <span class="font-size-lg text-dark-75 text-hover-primary font-weight-bold">{{ objDocument?.title }}</span>
                            <p class="p-0 text-justify text-muted">{{ objDocument?.description }}</p>
                        </div>

                        <div class="dropdown ml-2">
                            <button type="button" class="btn btn-icon btn-icon-dark-50 btn-hover-icon-primary border-0 font-weight-bold btn-sm"
                                placement="top" [ngbTooltip]="'COMMON.LABEL.DOWNLOAD_DOCUMENT'|translate" (click)="fnDownloadDocument(objDocument);">
                                <i class="flaticon2-download-2 icon-md"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-icon-dark-50 btn-hover-icon-danger border-0 font-weight-bold btn-sm" 
                                placement="top" [ngbTooltip]="'COMMON.LABEL.DELETE'|translate" (click)="fnDeleteDocument(objDocument);">
                                <i class="flaticon-delete icon-md"></i>
                            </button>
                        </div>
                    </div>

                    <div class="d-block text-dark-50">
                        <div class="flex-fill">
                            <span class="font-weight-bold">Filename: </span>
                            <span class="text-hover-primary cursor-pointer">{{ objDocument?.file_name }}</span>
                        </div>

                        <div class="flex-fill">
                            <span class="font-weight-bold">Size: </span>
                            <span class="text-hover-primary">{{ objDocument?.file_size_in_kb }} </span>
                            <span class="font-weight-bold">KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Documents-->

    <!--begin::Card-->
    <div class="card" *ngIf="objContact?.documents?.length==0">
        <!--begin::Card body-->
        <div class="card-body p-0">
            <!--begin::Heading-->
            <div class="card-px text-center py-20 my-10">
                <!--begin::Title-->
                <h2 class="fs-2x fw-bolder mb-10">{{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DOCUMENTS.FIRST_ACTION_CARD.TITLE' | translate }}</h2>
                <!--end::Title-->

                <!--begin::Description-->
                <p class="text-gray-400 fs-5 fw-bold mb-13" [innerHTML]="'PAGE.CONTACT.CONTACT_DETAIL.TAB_DOCUMENTS.FIRST_ACTION_CARD.DETAILS' | translate"></p>
                <!--end::Description-->

                <!--begin::Action-->
                <button type="button" class="btn btn-primary er fs-6 px-8 py-4" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" (click)="fnUploadDocument();">
                    {{ 'PAGE.CONTACT.CONTACT_DETAIL.TAB_DOCUMENTS.FIRST_ACTION_CARD.ACTION_BTN_LABEL' | translate }}
                </button>
                <!--end::Action-->
            </div>
            <!--end::Heading-->
            <!--begin::Illustration-->
            <div class="text-center px-5">
                <img src="assets/images/illustrations/upload_document.png" alt="" class="mw-100 mh-300px" />
            </div>
            <!--end::Illustration-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
