<div>
    <app-layout-spinner [ngClass]="{'d-none': (!isLoading)}"></app-layout-spinner>

    <!--begin::Card-->
    <div class="card card-custom gutter-b card-screen-height">
        <div class="card-header border-0 py-2">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                    {{ 'PAGE.CONTACT_LIST.TITLE' | translate }}
                </span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ pageRecordsLoaded }} records of {{ pageTotalSize }} loaded.</span>
            </h3>
            <div class="card-toolbar align-items-baseline">
                <div class="form-group mr-2" *ngIf="listContact?.length>0">
                    <div class="input-icon input-icon-right">
                        <input type="text" class="form-control" placeholder="Search..."/>
                        <span><i class="flaticon2-search-1 icon-md"></i></span>
                    </div>  
                </div>

                <a href="#" class="btn btn-primary font-weight-bolder font-size-sm mr-2" *ngIf="listContact?.length>0">
                    <span class="navi-icon"><i class="la la-filter icon-md p-0"></i></span>
                </a>
                
                <a href="#" class="btn btn-primary font-weight-bolder font-size-sm"
                [routerLink]="['/secure/setting/user/', '0']">{{ 'COMMON.LABEL.ADD_NEW' | translate }}</a>
            </div>
        </div>

        <div class="card-body py-0">
            <div class="table-responsive" *ngIf="listContact?.length>0">
                <table class="table table-hover table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                    <thead class="thead-dark">
                        <tr class="text-uppercase">
                            <th scope="col" class="pl-5" colspan="2">{{ 'PAGE.CONTACT_LIST.COLUMNS.CONTACTC_FULL_NAME' | translate }}</th>
                            <th scope="col" style="min-width: 150px">{{ 'PAGE.CONTACT_LIST.COLUMNS.ACTION_CONTROLS' | translate }}</th>
                            <th scope="col" style="min-width: 150px">{{ 'PAGE.CONTACT_LIST.COLUMNS.CONTACT_TYPE' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell" style="min-width: 150px">{{ 'PAGE.CONTACT_LIST.COLUMNS.CONTACT_SOURCES' | translate }}</th>
                            <th scope="col" class="d-none d-md-table-cell" style="min-width: 150px">{{ 'PAGE.CONTACT_LIST.COLUMNS.ACCOUNT_NAME' | translate }}</th>
                            <th scope="col" style="min-width: 150px">{{ 'PAGE.CONTACT_LIST.COLUMNS.CONTACT_OWNER' | translate }}</th>
                            <th scope="col" class="d-none d-xl-table-cell table-cell-date table-cell-sortable">
                                {{ 'PAGE.CONTACT_LIST.COLUMNS.LAST_MODIFIED' | translate }}
                                <span class="ml-2 cursor-pointer">
                                    <i class="la la-sort text-white icon-lg" (click)="fnSortColumn('last_date', 'asc')"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'desc')" [ngClass]="{'d-none': true}"></i>
                                    <i class="la la-sort text-primary icon-lg" (click)="fnSortColumn('last_date', 'asc')" [ngClass]="{'d-none': true}"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let contact of listContact" class="cursor-pointer" style="outline: none;"
                            [routerLink]="['/secure/setting/organization', contact.hash]">
                            <td style="width: 65px;">
                                <div class="symbol symbol-50 symbol-light mt-1">
                                    <span class="symbol-label" *ngIf="contact.avatar">
                                        <img [src]="contact.avatar" class="h-75 align-self-end rounded-circle" alt="Avatar" />
                                    </span>

                                    <span class="symbol-label font-size-h6 font-weight-bold rounded-circle" *ngIf="!contact.avatar">{{ contact.name_initials }}</span>
                                </div>
                            </td>
                            <td>
                                <span class="text-dark-75 font-weight-bolder d-block">{{ contact.full_name }}</span>
                            </td>

                            <td>
                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.CALL' | translate"><i class="la la-phone icon-xl"></i></button>
                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.SMS' | translate"><i class="la la-sms icon-xl"></i></button>
                                <button class="btn btn-icon btn-clean" placement="bottom" [ngbTooltip]="'COMMON.LABEL.EMAIL' | translate"><i class="la la-envelope icon-xl"></i></button>
                            </td>

                            <td>
                                <span class="text-dark-50">Retail</span>
                            </td>

                            <td class="d-none d-xl-table-cell">
                                <span class="text-dark-50">Trip Advisor</span>
                            </td>

                            <td class="d-none d-md-table-cell">
                                <span class="text-dark-50">Default</span>
                            </td>

                            <td>
                                <span class="text-dark-50">John Doe</span>
                            </td>

                            <td class="d-none d-xl-table-cell table-cell-date">
                                <span class="text-dark-75 d-block ml-5">{{ contact.last_updated_at | date }}</span>
                                <span class="text-muted d-block ml-5">{{ contact.last_updated_at | date:'shortTime' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>