.card {
    &:hover {
        box-shadow: 2px 2px 12px #a2a0a0d4;    
        transform: scale(1.01);        
    }
    &.card-border {
        border-top: 2px solid #ff5722;
    }
    .card-header {
        min-height: 40px;

        .card-title {
            margin: 0.2rem 0.5rem 0.2rem 0;

            .card-label {
                font-size: 1rem !important;
            }
        }

        &.ribbon.ribbon-top.ribbon-ver {
            .ribbon-target {
                top: -5px; 
                right: 10px;
                font-size: large;
                font-weight: bold;
            }
        }
    }
    .card-footer {
        .card-title {
            margin: 0.2rem 0.5rem 0.2rem 0;
        }
    }
}